body {

  font-family: sans-serif;


  background-color: blanchedalmond;
}

/* h1{text-align: center;} */






.nav_icon{


background-color: rgb(28, 43, 169);

border-radius: 20px;

}

.btnSolicitar{

width: 50%;



}

#nuevaViandabtn{

margin-left: 80%;


}



h4{


text-align: center;

}

.formulario{

display: none;


}


#nuevaViandabtn{


background-color: chartreuse;
border-radius: 10px;

}



h1{

text-align: center;

background-color: bisque;


}